<div class="bg-fusion-light bg-fire">
{{#if friends.length}}   
<div class="container min-vh-100" >
<div class="row">
    <div class="col-md-12 left-panel py-3">
        <div class="card border-0 rounded-lg bg-fusion-transparent">
            <div class="card-header text-white text-center pt-3 pb-1" style="background: radial-gradient(circle,#ff7b22, #dc3545,#ff7b22, #dc3545);">
                <h3 class="text-fusion">Select friends to fuse with:</h3>
                <form action="/fuse" method="POST">
                {{#each friends}}
                <div class="form-check form-check-inline p-1">
                    <input type="checkbox" class="btn-check" id="{{this.username}}" autocomplete="off">
                    <label class="btn btn-outline-fusion btn-sm" for="{{this.username}}">{{this.username}}</label>
                </div>
                {{/each}}
                <div class="text-center m-1">
                <button class="btn text-black text-fusion btn-explode btn-lg" type="submit">FUSE</button>
                </div>
                
                </form>
            </div>
            
    <ul class="list-group rounded-lg bg-transparent">
        {{#each recipes}}
        <!-- recipes is a list holding each recipe -->
        <div class="card mt-1 border-0 bg-transparent text-white">
            <div class="row g-0">
            <div class="col-auto">
                <img src={{this.image}} class="img-fluid" alt={{this.title}}>
            </div>
            <div class="col">
                <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text mb-1"><i class="bi-clock"></i>{{this.readyInMinutes}} minutes</p>
                <p class="card-text mb-0"><strong>Ingredients: </strong>{{this.ingredients}}</p>
                <a href={{this.sourceUrl}} class="stretched-link"></a>

            </div>
            </div>
            </div>
        </div>
        {{/each}}
    </ul>
    </div>
    </div>
</div>
</div>
{{else}}
<div class="row min-vh-100 justify-content-center align-items-center">
    <div class="col-md-6">
        <div class="card text-center p-4 bg-fusion">
            <div class="card-body">
                <div class="text-white mb-3">
                    <i class="bi bi-emoji-frown-fill fs-1"></i>
                </div>
                <h2 class="mb-3 text-white">You don't have any friends yet.</h2>
                
                <div class="d-grid gap-3">
                    <a class="btn btn-danger" href="/friends">Start adding some!</a>
                </div>                    
            </div>
        </div>
    </div>
</div>
{{/if}}
</div>