<div class="container-fluid">
<div class="row">
    <!-- Left Panel -->
    <div class="col-md-8 left-panel py-3">
        <div class="card rounded-lg">
            <div class="card-header bg-fridge text-white text-center py-3">
                <h3>Available recipes</h3>
                <div class="d-flex justify-content-center align-items-center">
                    <form class="d-flex align-items-center gap-2" action="/recipes/sort" method="POST">
                        <label for="sort_by" class="small mb-0 me-2 text-white">Sort by:</label>
                        <select class="form-select form-select-sm bg-fridge border-white text-white" id="sort_by" style="width: auto; background-image: None">
                            <option value="ingredients_desc">↓ Matched ingredients</option>
                            <option value="ingredients_asc">↑ Matched ingredients</option>
                            <option value="time_desc">↓ Cook time</option>
                            <option value="time_asc">↑ Cook time</option>
                        </select>
                        <button class="btn btn-fridge border-white btn-sm" type="submit">Sort</button>
                    </form>
                </div>
            </div>
    {{#if recipes.length}}
    <ul class="list-group">
        {{#each recipes}}
        <!-- recipes is a list holding each recipe -->
        <!-- this will be what we really use but i want to add an example-->
            <!-- Recipe Card -->
        <div class="card mt-1 border-0">
            <div class="row g-0">
            <div class="col-auto">
                {{#if this.image}}
                <img src={{this.image}} class="img-fluid" alt={{this.title}} style="max-height: 300px; max-width: 400px;">
                {{else}}
                <img src="https://thumbs.dreamstime.com/b/confused-cartoon-waiter-male-chef-vector-illustration-148311323.jpg" class="img-fluid" alt={{this.title}} style="max-height: 300px;">
                {{/if}}
            </div>
            <div class="col">
                <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text text-muted mb-1"><i class="bi-clock"></i>{{this.readyInMinutes}} minutes</p>
                <p class="card-text mb-0"><strong>Ingredients: </strong>{{{this.ingredients}}}</p>
                <a href={{this.sourceUrl}} class="stretched-link"></a>

            </div>
            </div>
            </div>
        </div>
        {{/each}}
    </ul>
    {{else}}
        <div class="card-body text-center">
            <h3 class="text-fridge-dark">Oh no!</h3>
            <h4 class="text-fridge-dark">Looks like we have no recipes for you <i class="bi bi-emoji-frown"></i></h4>
            <form action="/pullrecipes" method="POST">
                <button type="submit" class="btn btn-fridge">Pull new recipes</button>
            </form>
        </div>
    {{/if}}
    </div>
    </div>

    <!-- Right Panel -->
    <div class="col-md-4 right-panel py-3">
        <div class="card bg-fusion-light rounded-lg card-fusion">
            <div class="card-header bg-fusion text-white text-center py-3">
                <h3>Want more options?</h3>
            </div>
            <div class="card-body p-4 d-flex justify-content-center">
                <a class="btn btn-danger text-fusion" href="/fuse">Fuse with Friends</a>               
            </div>
        </div>
    </div>
</div>
</div>