<div class="container-fluid">
<div class="row">
    <!-- Left Panel -->
    <div class="col-md-8 left-panel py-3">
        <div class="card rounded-lg">
            <div class="card-header bg-fridge text-white text-center py-3">
                <h3>Available recipes</h3>
            </div>
    <ul class="list-group">
        {{#each recipes}}
        <!-- recipes is a list holding each recipe -->
        <!-- this will be what we really use but i want to add an example-->
            <!-- Recipe Card -->
        <div class="card mt-1 border-0">
            <div class="row g-0">
            <div class="col-auto">
                <img src={{this.image}} class="img-fluid" alt={{this.title}}>
            </div>
            <div class="col">
                <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text text-muted mb-1"><i class="bi-clock"></i>{{this.readyInMinutes}} minutes</p>
                <p class="card-text mb-0"><strong>Ingredients: </strong>{{this.ingredients}}</p>
                <a href={{this.source.Url}} class="stretched-link"></a>

            </div>
            </div>
            </div>
        </div>
        {{/each}}


        <!-- examples to delete later -->
        <div class="card mt-1 border-0">
            <div class="row g-0">
            <div class="col-auto">
                <img src="https://img.spoonacular.com/recipes/715415-312x231.jpg" class="img-fluid" alt="Red Lentil Soup with Chicken and Turnips">
            </div>
            <div class="col">
                <div class="card-body">
                <h5 class="card-title">Red Lentil Soup with Chicken and Turnips</h5>
                <p class="card-text text-muted mb-1"><i class="bi-clock"></i>55 minutes</p>
                <p class="card-text mb-0"><strong>Ingredients: </strong>avacado, carrots, celery sticks, cooked chicken breast, flat leaf parsley, garlic, olive oil, canned tomatoes, dried red lentils, salt and pepper, turnip, vegetable stock, yellow onion</p>
                <a href="https://www.pinkwhen.com/red-lentil-soup-with-chicken-and-turnips/" class="stretched-link"></a>
            </div>
            </div>
            </div>
        </div>
        <div class="card mt-1 border-0">
            <div class="row g-0">
            <div class="col-auto">
                <img src="https://img.spoonacular.com/recipes/715415-312x231.jpg" class="img-fluid" alt="Red Lentil Soup with Chicken and Turnips">
            </div>
            <div class="col">
                <div class="card-body">
                <h5 class="card-title">Red Lentil Soup with Chicken and Turnips</h5>
                <p class="card-text text-muted mb-1"><i class="bi-clock"></i>55 minutes</p>
                <p class="card-text mb-0"><strong>Ingredients: </strong>avacado, carrots, celery sticks, cooked chicken breast, flat leaf parsley, garlic, olive oil, canned tomatoes, dried red lentils, salt and pepper, turnip, vegetable stock, yellow onion</p>
                <a href="https://www.pinkwhen.com/red-lentil-soup-with-chicken-and-turnips/" class="stretched-link"></a>
                </div>
            </div>
            </div>
        </div>
        <div class="card mt-1 border-0">
            <div class="row g-0">
            <div class="col-auto">
                <img src="https://img.spoonacular.com/recipes/715415-312x231.jpg" class="img-fluid" alt="Red Lentil Soup with Chicken and Turnips">
            </div>
            <div class="col">
                <div class="card-body">
                <h5 class="card-title">Red Lentil Soup with Chicken and Turnips</h5>
                <p class="card-text text-muted mb-1"><i class="bi-clock"></i>55 minutes</p>
                <p class="card-text mb-0"><strong>Ingredients: </strong>avacado, carrots, celery sticks, cooked chicken breast, flat leaf parsley, garlic, olive oil, canned tomatoes, dried red lentils, salt and pepper, turnip, vegetable stock, yellow onion</p>
                <a href="https://www.pinkwhen.com/red-lentil-soup-with-chicken-and-turnips/" class="stretched-link"></a>
            </div>
        </div>
        </div>
    </div>
        
    </ul>
    </div>
    </div>

    <!-- Right Panel -->
    <div class="col-md-4 right-panel py-3">
        <div class="card bg-fusion-light rounded-lg"style="background-image: url(https://static.vecteezy.com/system/resources/thumbnails/044/185/915/small_2x/burning-fire-flames-frame-border-isolated-on-transparent-background-png.png); width: 100%; background-size: cover">
            <div class="card-header bg-fusion text-white text-center py-3">
                <h3>Want more options?</h3>
            </div>
            <div class="card-body p-4 d-flex justify-content-center">
                <button class="btn btn-danger"><span style="font-family:Apple Chancery" href="/fuse">Fuse</span> with Friends</button>               </div>
            </div>
    </div>
</div>
</div>