<div class="container-fluid">
        <div class="row align-items-center">
            <!-- Left Panel -->
            <div class="col-md-8 left-panel">
            <h1>Available Recipes</h1>
            <ul class="list-group">
                {{#each recipes}}
                {{!-- recipes is a list holding each recipe --}}
                    <!-- Recipe Card -->
                <div class="card mb-3">
                    <div class="row g-0">
                    <div class="col-auto">
                        <img src={{this.image}} class="img-fluid rounded-start" alt={{this.name}}>
                    </div>
                    <div class="col">
                        <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <p class="card-text text-muted mb-1"><i class="bi-clock"></i>{{this.time}} minutes</p>
                        <p class="card-text mb-0"><strong>Ingredients:</strong>{{this.ingredients}}</p>
                        </div>
                    </div>
                    </div>
                </div>
                {{/each}}
            </ul>
            </div>
        
            <!-- Right Panel -->
            <div class="col-md-4 justify-content-center align-items-center">
            <h1>Want more options:</h1>
            <button class="btn btn-primary">Fuse with Friends</button>
            </div>
        </div>
    </div>